@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  align-items: center;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  border-radius: 24px 24px 0 0;
  height: 36%;
  width: 100%;
  background-color: #4070f4;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin: 15px;
}
.profile-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: 3px solid white;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text .name {
  font-weight: 500;
  font-size: 22px;
}
.text .job {
  font-weight: 400;
  font-size: 15px;
}

.card .media-buttons {
  display: flex;
  align-items: center;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}
.card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button {
  background-color: #4070f4;
  padding: 8px 24px;
  margin: 0 10px;
  border-radius: 24px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover {
  background-color: #0e4bf1;
}
.card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 30px;
  border-right: 2px solid #e7e7e7;
}
.data i {
  font-size: 18px;
  margin-right: 6px;
}
.data:last-child {
  border-right: none;
}
